@media only screen and (max-width:600px) {
  #coverImg{
    width: 80px !important;
    height:128px !important;
  }
  .imgDiv{
    width: 25% !important;
    margin-left: 5% !important;
  }
  .title{
    width: 90px !important;
  }
}
